.Course {
    &__links {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        color: #333;
        flex-grow: 1;
        opacity: .8;
        padding: 5px 10px;
        text-align: center;

        &--active {
            color: #FFF;
            opacity: 1;
        }

        &--general {
            background: #78909C;

            &:hover {
                background: darken(#78909C, 5%);
            }
        }

        &--english {
            background: #2196F3;

            &:hover {
                background: darken(#2196F3, 5%);
            }
        }

        &--math {
            background: #EF5350;

            &:hover {
                background: darken(#EF5350, 5%);
            }
        }

        &--reading {
            background: #E040FB;

            &:hover {
                background: darken(#E040FB, 5%);
            }
        }

        &--science {
            background: #689F38;

            &:hover {
                background: darken(#689F38, 5%);
            }
        }

        &--writing {
            background: #EF6C00;

            &:hover {
                background: darken(#EF6C00, 5%);
            }
        }
    }

    &__no-category {
        color: #757575;
        font-size: 36px;
        margin-top: 40px;
        text-align: center;
    }

    &__category {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .react-tabs {
            width: 100%;
        }

        .react-tabs__tab-list {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }

        .react-tabs__tab-panel {
            background: #FFF;
            border: 1px solid #aaa;
            border-top: 0;
            padding: 10px;
            width: 100%;
        }
    }

    &__section-title {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    &__section-stats {
        font-size: 13px;
    }

    &__section-stat--premium {
        color: #EF6C00;
    }

    &__videos-container {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }

    &__practice-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }

    &__concepts-container {
        width: 100%;
    }

    &__concepts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        width: 100%;
    }

    &__video-section {
        margin-bottom: 25px;
        width: 350px;

        &--restricted {
            .Course__video-title {
                color: #EF6C00;
            }

            .Course__thumbnail {
                cursor: auto;
                pointer-events: none;
            }
        }
    }

    &__video-title {
        color: #138EAD;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__thumbnail {
        border: 1px solid #E0E2E3;
        border-radius: 3px;
        cursor: pointer;
        height: 197px;
        width: 350px;
    }

    &__video {
        border: 1px solid #E0E2E3;
        border-radius: 3px;
        height: 197px;
        width: 350px;
    }

    &__practice-tests {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        a {
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }

    &__writing-coming-soon {
        color: #EF6C00;
        font-size: 36px;
        margin-top: 40px;
        text-align: center;
    }

    &__concept-card {
        border: 1px solid #757575;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        max-width: 350px;

        &:hover {
            .Course__concept-title {
                background: darken(#E91E63, 5%);
            }

            .Course__concept-rule {
                background: #EEEEEE;
            }

            .Course__concept-view {
                background: #EEEEEE;

                .Button {
                    background: darken(#43A047, 5%);
                }
            }
        }
    }

    &__concept-title {
        background: #E91E63;
        color: #FFF;
        padding: 5px 10px;
    }

    &__concept-rule {
        flex-grow: 1;
        padding: 5px 10px;
    }

    &__concept-view {
        padding: 0 0 10px;
        text-align: center
    }

    &__concept-detail {
        max-width: 700px;
    }

    &__concept-detail-rule,
    &__concept-detail-example {
        margin-top: 20px;
    }

    &__concept-detail-sub-title {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0;
        text-align: center;
    }

    &__concept-detail-question {
        margin-bottom: 10px;
    }

    &__concept-detail-answers {
        margin: 10px 0 20px;
    }

    &__concept-detail-answer {
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    &__concept-detail-letter {
        align-items: center;
        border: 1px solid #333;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 20px;
        justify-content: center;
        margin-right: 10px;
        width: 20px;

        &:hover {
            background: #757575;
            color: #FFF;
        }
    }
}