.Course {
    &__links {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        color: #FFF;
        flex-grow: 1;
        padding: 5px 10px;
        text-align: center;

        &--general {
            background: #78909C;

            &:hover {
                background: darken(#78909C, 5%);
            }
        }

        &--english {
            background: #2196F3;

            &:hover {
                background: darken(#2196F3, 5%);
            }
        }

        &--math {
            background: #EF5350;

            &:hover {
                background: darken(#EF5350, 5%);
            }
        }

        &--reading {
            background: #E040FB;

            &:hover {
                background: darken(#E040FB, 5%);
            }
        }

        &--science {
            background: #689F38;

            &:hover {
                background: darken(#689F38, 5%);
            }
        }

        &--writing {
            background: #EF6C00;

            &:hover {
                background: darken(#EF6C00, 5%);
            }
        }
    }

    &__no-category {
        color: #757575;
        font-size: 36px;
        margin-top: 40px;
        text-align: center;
    }

    &__category {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .react-tabs {
            width: 100%;
        }

        .react-tabs__tab-list {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }

        .react-tabs__tab-panel {
            background: #FFF;
            border: 1px solid #aaa;
            border-top: 0;
            padding: 10px;
            width: 100%;
        }
    }

    &__section-title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    &__videos-container {
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__video-section {
        margin-bottom: 25px;
        width: 350px;

        &--restricted {
            .Course__video-title {
                color: #EF6C00;
            }

            .Course__thumbnail {
                cursor: auto;
                pointer-events: none;
            }
        }
    }

    &__video-title {
        color: #138EAD;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__thumbnail {
        border: 1px solid #E0E2E3;
        border-radius: 3px;
        cursor: pointer;
        height: 197px;
        width: 350px;
    }

    &__video {
        border: 1px solid #E0E2E3;
        border-radius: 3px;
        height: 197px;
        width: 350px;
    }

    &__practice-tests {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        a {
            margin-bottom: 5px;
            margin-right: 10px;
        }
    }
}