.course-main {
    background: lighten($blue, 61%);
    border: 1px solid $border-color;
    border-radius: 0 8px 8px 0;
    border-left: 0;
    flex-grow: 1;
}

.main-header {
    background: lighten($blue, 55%);
    border-bottom: 1px solid lighten($blue, 30%);
    color: darken($muted-text-color, 10%);
    padding: 10px;

    &__title {
        display: inline-block;
    }

    &__complete-button {
        font-size: 12px;
        float: right;
        padding: 5px 10px;
        position: relative;
        top: -5px;
    }
}

.module {
    &__title {
        margin-bottom: 20px;
        margin-top: 5px;
        text-align: center;
    }

    &__title--category {
        color: $muted-text-color;
        margin-bottom: 0;
        margin-top: 20px;
        text-align: center;
    }

    &__instructions {
        color: $gold;
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    &__content {
        padding: 0 20px;
    }

    &__video {
        border: 1px solid #333;
        display: block;
        height: 308px;
        margin: 0 auto;
        width: 546px;
    }

    &__transcript-title {
        margin: 0 0 10px;
        text-align: center;
    }

    &__transcript-container {
        border: 1px solid #333;
        border-radius: 10px;
        display: block;
        margin: 20px auto 0;
        max-width: 600px;
        padding: 10px 20px;
    }
}
