body {
    background: #F5F5F5;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.spinner {
    position: absolute;
    text-align: center;
    top: 75px;
    width: 100%;
    z-index: 1000;

    &__image {
        background: url('../images/spinner.gif');
        display: inline-block;
        height: 140px;
        width: 140px;
    }
}

.small-spinner {
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;

    &__image {
        background: url('../images/small-spinner.gif');
        display: inline-block;
        height: 16px;
        width: 16px;
    }
}

.page {
    padding: 15px 20px;

    &__content {
        background: #FFF;
        border: 1px solid $border-color;
        border-radius: 5px;
        padding: 15px 20px;
        width: 100%;
    }

    &__why-content {
        background: #FFF;
        border: 1px solid $border-color;
        border-radius: 5px;
        width: 100%;
    }
}

.practice-tests__button,
.review-pdf__button {
    background: #FFF;
    border: 1px solid $blue;
    margin: 0 10px 10px 0;
    padding: 5px 12px;

    &:hover {
        background: lighten($blue, 55%);
    }
}

.review-pdf__button {
    left: 50%;
    margin: 0 -87px;
    position: relative;
}
