.home {
    display: none;

    &__call-to-action-container {
        background: lighten($blue, 61%);
        padding: 30px 0;
        width: 100%;
    }

    &__title {
        color: $blue;
        font-size: 55px;
        font-weight: 300;
        margin: 0 0 30px;
        text-align: center;
    }

    &__call-to-action {
        margin-bottom: 40px;
        text-align: center;
    }

    &__call-to-action-text-container {
        margin-left: 25px;
        display: inline-block;
        vertical-align: top;
    }

    &__call-to-action-text--odd,
    &__call-to-action-text--even {
        font-size: 32px;
        margin-bottom: 6px;
    }

    &__call-to-action-text--odd {
        color: darken($orange, 15%);
    }

    &__call-to-action-text--even {
        color: darken($blue, 15%);
    }

    &__call-to-action-button {
        background: $blue;
        border: 1px solid $blue;
        border-radius: 3px;
        color: #FFF;
        font-size: 28px;
        font-weight: 300;
        left: 50%;
        margin-left: -49px;
        position: relative;

        &:hover {
            background: #FFF;
            border: 1px solid $blue;
            color: $blue;
        }
    }

    &__testimonials-container {
        background: #FFF;
        border-top: 1px solid $border-color;
        display: flex;
        width: 100%;
    }

    &__testimonials-main {
        border-right: 1px solid #333;
        padding: 0 20px;
    }

    &__testimonials-main-icon {
        color: #A61200;
        display: block;
        font-size: 90px;
        margin-top: 30px;
        text-align: center;
    }

    &__testimonials-main-heading {
        font-weight: 300;
        margin: 15px 0 5px;
        text-align: center;
    }

    &__testimonials-main-tagline {
        color: $muted-text-color;
        display: block;
        margin-bottom: 30px;
        text-align: center;
    }

    &__testimonials-quotes-container {
        padding: 5px;
        width: 75%;
    }

    &__testimonials-quote-container {
        color: #FFF;
        display: inline-block;
        margin: 0 5px 5px;
        width: 31%;
        padding: 5px 10px;

        &:nth-child(even) {
            background: darken($blue, 20%);
        }

        &:nth-child(odd) {
            background: darken($orange, 20%);
        }
    }

    &__testimonials-author {
        display: block;
        text-align: right;
    }

    &__footer {
        background: $blue;
        color: #FFF;
        padding: 10px 20px;
        text-align: center;
        width: 100%;

        a {
            color: #FFF;
        }
    }
}
