.navbar {
    background: #FFF;
    position: relative;
}

.bap-nav {
    &__logo {
        background: url('../images/logo-nav.png');
        background-repeat: no-repeat;
        height: 58px;
        left: 20px;
        position: absolute;
        top: 6px;
        width: 300px;
    }
}
