.navbar {
    background: #FFF;
    margin-bottom: 0;
    position: relative;
}

.bap-nav {
    &__container {
        padding-right: 0;
    }

    &__logo {
        background: url('../images/logo-nav.png');
        background-repeat: no-repeat;
        height: 58px;
        left: 20px;
        position: absolute;
        top: 6px;
        width: 300px;
    }

    &__log-in-link {
        cursor: pointer;
    }
}

.contact-box {
    background: #F6F6F6;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    right: 69px;
    top: 50px;
}

.log-in-box {
    background: #F6F6F6;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 50px;
    width: 280px;

    &__overlay {
        height: 99vh;
        margin-top: -50px;
        position: absolute;
        width: 100%;
    }

    &__button {
        display: block;
        margin: 0 auto;
    }
}
