.why {
    display: none;

    &__title-container {
        background: lighten($blue, 61%);
        padding: 30px;
        width: 100%;
    }

    &__title {
        color: $blue;
        font-size: 35px;
        font-weight: 300;
        margin: 0;
        text-align: center;
    }

    &__buy-container {
        background: darken($blue, 20%);
        display: flex;
        padding: 10px;
        width: 100%;
    }

    &__buy-call-to-action-container {
        border-right: 1px solid #FFF;
        width: 50%;
    }

    &__buy-prices {
        color: #FFF;
        display: flex;
    }

    &__buy-price-section {
        text-align: center;
        width: 50%;
    }

    &__buy-price-future,
    &__buy-price-current {
        font-size: 40px;
    }

    &__buy-price-future-text,
    &__buy-price-current-text {
        font-size: 18px;
    }

    &__buy-price-future,
    &__buy-price-future-text {
        color: $muted-text-color;
        text-decoration: line-through;
    }

    &__buy-price-current,
    &__buy-price-current-text {
        color: red;
        font-style: italic;
        font-weight: bold;
    }

    &__buy-increase-price {
        color: #FFF;
        display: block;
        font-style: italic;
        margin: 10px 0 15px;
        text-align: center;
    }

    &__buy-button {
        background: $orange;
        border: 1px solid $orange;
        border-radius: 3px;
        color: #FFF;
        font-size: 18px;
        left: 50%;
        margin-left: -75px;
        margin-bottom: 20px;
        padding: 6px 12px;
        position: relative;

        &:hover {
            background: #FFF;
            color: $orange;
        }
    }

    &__video-poster {
        border: 1px solid #CCC;
        border-radius: 5px;
        height: 90px;
        margin: 0 5px 5px 0;
    }

    &__PDF-image {
        border: 1px solid #333;
        border-radius: 10px;
        display: block;
        margin: 0 auto 5px;
    }

    &__buy-details {
        color: #FFF;
        padding: 10px 20px;
        width: 50%;
    }

    &__buy-details-heading {
        color: $yellow;
        font-style: italic;
        font-weight: bold;
    }

    &__buy-details-text {
        font-weight: bold;
    }

    &__buy-details-show-videos {
        font-size: 11px;
        margin: 7px 0;
        padding: 4px 7px;
    }

    &__buy-details-video-list {
        display: none;
    }

    &__stripe-images-container {
        display: block;
        text-align: center;
    }

    &__stripe-image {
        margin-right: 20px;
    }

    &__reason-container {
        align-items: center;
        background: #FFF;
        border-top: 1px solid $muted-text-color;
        display: flex;
        position: relative;
        width: 100%;
    }

    &__reason-title-container {
        text-align: center;
        width: 30%;
        z-index: 1;
    }

    &__reason-title-container-background--odd,
    &__reason-title-container-background--even {
        bottom: 0;
        position: absolute;
        top: 0;
        width: 30%;
    }

    &__reason-title-container-background--odd {
        background: lighten($blue, 59%);
        border-right: 1px solid $muted-text-color;
        left: 0;
    }

    &__reason-title-container-background--even {
        background: lighten($orange, 37%);
        border-left: 1px solid $muted-text-color;
        right: 0;
    }

    &__reason-number {
        color: $muted-text-color;
        font-size: 22px;
        font-style: italic;
    }

    &__reason-odd-title {
        color: darken($blue, 15%);
        font-size: 30px;
        margin-bottom: 15px;
    }

    &__reason-odd-icon {
        color: darken($blue, 15%);
        font-size: 60px;
    }

    &__reason-even-title {
        color: darken($orange, 15%);
        font-size: 30px;
        margin-bottom: 15px;
    }

    &__reason-even-icon {
        color: darken($orange, 15%);
        font-size: 60px;
    }

    &__reason-content-container {
        font-size: 18px;
        padding: 20px;
        width: 70%;
    }

    &__testimonials-container {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__testimonial-container {
        border: 1px solid $gold;
        border-radius: 15px;
        color: $gold;
        display: inline-block;
        font-style: italic;
        margin: 0 20px 10px 0;
        max-width: 47%;
        padding: 5px 10px;
    }

    &__testimonial {
        display: block;
        text-align: center;
    }

    &__testimonial-author {
        display: block;
        text-align: right;
    }

    &__image-container {
        display: flex;
        width: 100%;
    }

    &__image-2-container {
        text-align: center;
        width: 50%;
    }

    &__image-practice-tests {
        border: 1px solid #333;
        border-radius: 5px;
        height: 200px;
    }

    &__PDF-image-reason-container {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__PDF-image-reason {
        border: 1px solid #333;
        border-radius: 10px;
        margin: 0 15px 15px 0;
    }

    &__price {
        margin-bottom: 0;
    }

    &__price-row {
        color: $blue;
    }

    &__current-videos-tagline {
        color: $muted-text-color;
        font-size: 12px;
        margin: -5px 0 10px;
    }

    &__price-future {
        color: $muted-text-color;
    }

    &__price-sale {
        color: red;
    }
}
