.why {
    &__beta-explanation {
        color: $muted-text-color;
        display: block;
        margin: 0 auto 5px;
        text-align: center;
        max-width: 800px;
    }

    &__most-popular {
        background: $blue;
        border-radius: 5px 5px 0 0;
        padding: 20px;
        text-align: center;
    }

    &__most-popular-text {
        color: #FFF;
        font-size: 25px;
        margin-bottom: 20px;

        &--smaller {
            color: $orange;
            font-size: 40px;
            margin: 20px 0;
        }
    }

    &__youtube-video {
        margin-right: 10px;
    }
}

.stripe-checkout-button {
    background: $orange;
    border: 1px solid #FFF;
    border-radius: 10px;
    color: #FFF;
    left: 50%;
    margin: 0 -117px 20px;
    padding: 5px 12px;
    position: relative;

    &:hover {
        background: #FFF;
        border: 1px solid $orange;
        color: $orange;
    }
}
