.why {
    &__most-popular {
        background: $blue;
        border-radius: 5px 5px 0 0;
        padding: 20px;
        text-align: center;
    }

    &__most-popular-text {
        color: #FFF;
        font-size: 25px;
        margin-bottom: 20px;

        &--smaller {
            color: $orange;
            font-size: 40px;
            margin: 20px 0;
        }
    }

    &__youtube-video {
        margin-right: 10px;
    }
}

.stripe-checkout-button {
    background: $orange;
    border: 0;
    border-radius: 10px;
    color: $blue;
    display: block;
    margin: 0 auto 20px;
    padding: 5px 10px;
}
